<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Mykyta_DataList::mykyta" title="Mykyta" module="Mykyta_DataList" sortOrder="31"
             resource="Mykyta_DataList::data_list"/>
        <add id="Mykyta_DataList::data_list" title="Data List" module="Mykyta_DataList" sortOrder="10"
             resource="Mykyta_DataList::data_list" parent="Mykyta_DataList::mykyta" action="mykyta/datalist/index"/>
    </menu>
</config>
