<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Slark\StoreLocator\Api\Data\StoreLocatorInterface" type="Slark\StoreLocator\Model\StoreLocator"/>
    <preference for="Slark\StoreLocator\Api\StoreLocatorRepositoryInterface" type="Slark\StoreLocator\Model\StoreLocatorRepository"/>
    <preference for="Slark\StoreLocator\Api\StoreLocatorSearchResultInterface" type="Slark\StoreLocator\Model\StoreLocatorSearchResult"/>

    <virtualType name="Slark\StoreLocator\Model\ResourceModel\StoreLocator\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">slark_store_locator</argument>
            <argument name="resourceModel" xsi:type="string">Slark\StoreLocator\Model\ResourceModel\StoreLocator </argument>
        </arguments>
    </virtualType>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="store_locator_data_source" xsi:type="string"> Slark\StoreLocator\Model\ResourceModel\StoreLocator\Grid\Collection </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="ImportCSV" xsi:type="object">Slark\StoreLocator\Command\Console\ImportCSV</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Slark\StoreLocator\Controller\Adminhtml\StoreLocator\Image\Upload" type="Magento\Catalog\Model\ImageUploader">
        <arguments>
            <argument name="baseTmpPath" xsi:type="string">slark/temp_base_path</argument>
            <argument name="basePath" xsi:type="string">slark/base_path</argument>
            <argument name="allowedExtensions" xsi:type="array">
                <item name="jpg" xsi:type="string">jpg</item>
                <item name="jpeg" xsi:type="string">jpeg</item>
                <item name="png" xsi:type="string">png</item>
                <item name="gif" xsi:type="string">gif</item>
            </argument>
            <argument name="allowedMimeTypes" xsi:type="array">
                <item name="jpg" xsi:type="string">image/jpg</item>
                <item name="jpeg" xsi:type="string">image/jpeg</item>
                <item name="gif" xsi:type="string">image/gif</item>
                <item name="png" xsi:type="string">image/png</item>
            </argument>
        </arguments>
    </virtualType>



</config>
